@import url(https://fonts.googleapis.com/css?family=Open+Sans);

body {
  font-family: 'Montserrat',monospace;
  background-color: #fff;
}

.navbar .nav-item {
  background-color: #ffffff;
  font-size: 1.5rem;
  padding: 2rem;
}
h1{
  padding-top: 1rem;
  font-size: 50px;
  letter-spacing: 20px;
}
mark {
   background: linear-gradient(180deg, rgba(255, 255, 255, 0) 65%, #FFD0AE 65%);
   display: inline;
}
#sketch-holder{
  padding-top: 3rem;
}
#result{
  color: #FF9B85;
  font-size: 50px;
  padding: 2rem;
  letter-spacing: 1.5rem;
}